.html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 480px) {
  header {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding: 24px 0;
  }
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  display: flex;
}

.footer-container {
  display: flex;
}

.logo-footer {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.footer-address__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress__link:hover, .footer-adress__link:focus {
  color: #2196f3;
}

.footer-container__social {
  margin-left: 70px;
  margin-top: 12px;
}

.footer-social__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fotter-social__list {
  display: flex;
}

.footer-social__item {
  margin-right: 10px;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon {
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.social-list__link:hover .footer-list__icon, .social-list__link:focus .footer-list__icon {
  background-color: #2196f3;
  border-radius: 50px;
}

.footer-form {
  margin-left: 93px;
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__field {
  display: flex;
  margin-top: 20px;
}

.footer-form input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}
.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input {
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: #ffffff;
}

.footer-form__button_text {
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  padding-left: 28px;
  margin-right: 10px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-form__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  margin-right: 10px;
}

.header {
  background-color: #ffffff;
}
.header .container {
  display: flex;
}

.logo {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo__web {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: flex;
  flex-direction: row;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.contact {
  margin-left: auto;
}

.contact-list {
  display: flex;
  align-items: center;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover, .contact-list__link:focus, .contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
  color: #2196f3;
  fill: #2196f3;
}

.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  left: 0;
  bottom: -33px;
  border-radius: 2px;
}

.contact-list__icon {
  margin-right: 10px;
  fill: #757575;
}

.hero-section {
  padding: 200px 0;
  color: #ffffff;
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  margin: 0 auto;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}

@media screen and (min-width: 1200px) {
  .section-preference {
    padding-top: 94px;
  }
}
@media screen and (min-width: 768px) {
  .section-preference {
    padding-top: 60px;
  }
}
@media screen and (min-width: 480px) {
  .section-preference {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .preference-list {
    display: flex;
  }
}

.preference-list__item {
  width: calc((100% - 90px) / 4);
}
.preference-list__item:not(:last-child) {
  margin-right: 30px;
}

.preference-list__icon {
  width: 70px;
  height: 70px;
}

.preference-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.preference-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.work-list__container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list__item {
  text-align: center;
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  border-radius: 50px;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  background-color: #2196f3;
  border-radius: 50px;
  fill: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list__item {
  text-align: center;
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  border-radius: 50px;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  background-color: #2196f3;
  border-radius: 50px;
  fill: #ffffff;
}

.section-client {
  padding: 94px 0;
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__item:not(:last-child) {
  margin-right: 30px;
}
.client-list__item:hover, .client-list__item:focus {
  fill: #2196f3;
  border-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.client-list__icon {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-logo__close {
  position: absolute;
  left: 5px;
  top: 6px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-logo__close:hover, .modal-logo__close:focus {
  fill: #2196f3;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form {
  padding: 40px;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form__field textarea:hover, .modal-form__field textarea:focus, .modal-form__field textarea:active {
  cursor: pointer;
  border-color: #2196f3;
  outline: none;
}
.modal-form__field.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__field input {
  margin: 0;
  padding: 0 0 0 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: cursor, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field input:hover, .modal-form__field input:focus, .modal-form__field input:active {
  cursor: pointer;
  border-color: #2196f3;
  outline: none;
}

.modal-form__field label {
  margin-bottom: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon:hover, .modal-form__icon:focus {
  fill: #2196f3;
}
.modal-form__input:focus ~ .modal-form__icon, .modal-form__input:hover ~ .modal-form__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

textarea {
  resize: none;
  transition-property: cursor, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__field input[type=checkbox] {
  width: 16px;
  height: 15px;
}

.modal-checkbox__field {
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  appearance: none;
  position: relative;
}
.checkbox:checked + .modal-checkbox__icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-checkbox__icon {
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox__link {
  color: #2196f3;
}

.modal-form__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.project-filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-filter__item:not(:last-child) {
  margin-right: 8px;
}

.project-filter__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-filter__button:hover, .project-filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-section {
  padding: 94px 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list__item {
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__item:hover, .project-list__item:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__item:nth-child(3n+3) {
  margin-right: 0;
}
.project-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project-list__item:hover .project-list__text {
  transform: translateY(0);
}

.project-list__card {
  position: relative;
  overflow: hidden;
}

.project-list__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 23px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.project__description {
  padding: 20px 24px;
}

.project__description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__description__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */