.hero-section {
  padding: 200px 0;
  color: $accent-color;
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}

.hero-button {
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $accent-color;
  background-color: $brand-color;
  margin: 0 auto;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}
