.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  height: 609px;
  background-color: $accent-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    .modal {
      min-width: 528px;
    }
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $accent-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-logo__close {
  position: absolute;
  left: 5px;
  top: 6px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $brand-color;
  }
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin-bottom: 12px;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $main-color;
}

.modal-form {
  padding: 40px;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  & textarea:hover,
  & textarea:focus,
  & textarea:active {
    cursor: pointer;
    border-color: #2196f3;
    outline: none;
  }

  &.modal-form__comment::placeholder {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__field input {
  margin: 0;
  padding: 0 0 0 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: cursor, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    border-color: #2196f3;
    outline: none;
  }
}

.modal-form__field label {
  margin-bottom: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
  }

  .modal-form__input:focus ~ &,
  .modal-form__input:hover ~ & {
    fill: #2196f3;
    border-color: #2196f3;
  }
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

textarea {
  resize: none;
  transition-property: cursor, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__field {
  margin-top: 20px;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.checkbox {
  appearance: none;
  position: relative;

  &:checked + .modal-checkbox__icon {
    background-color: $brand-color;
    border-color: $brand-color;
  }
}

.modal-checkbox__icon {
  margin-right: 8px;
  border: 2px solid $secondary-color;
  border-radius: 2px;
}

.modal-checkbox__text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.modal-checkbox__link {
  color: $brand-color;
}

.modal-form__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: $brand-color;
  border: 1px solid $brand-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $accent-color;
}

.span {
  display: contents;
}
