.section-preference {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.preference-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.preference-list__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    margin-right: 30px;

    margin-bottom: 55px;

    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.preference-list__icon {
  width: 100%;
  height: 70px;

  @media screen and (max-width: 767px) {
    margin-top: 25px;
  }
}

.preference-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $secondary-color;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.preference-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-color;

  @media screen and (max-width: 767px) {
    align-items: center;
  }
}

.overlay {
  background-color: $color-backgroubd-team;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
  }
}
