.section-team {
  background-color: $color-backgroubd-team;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__icon {
  width: 100%;
}

.team-list__item {
  text-align: center;
  background-color: $accent-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    margin-bottom: 30px;
    margin-right: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-list__person {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (max-width: 1199px) {
    padding-bottom: 24px;
  }
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin-bottom: 10px;

  @media screen and (min-width: 480px) {
    line-height: 1.18;
  }
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 16px;

  @media screen and (min-width: 480px) {
    line-height: 1.18;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__icon {
  border-radius: 50px;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    background-color: $brand-color;
    border-radius: 50px;
    fill: $accent-color;
  }
}
