.project-filter__list {
  display: flex;

  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.project-filter__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  @media screen and (min-width: 480px) {
    margin-right: 8px;
    margin-bottom: 15px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 15px;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &:nth-child(5) {
      margin-right: 0;
    }
  }
}
.project-filter__button {
  font-family: $font-family-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $secondary-color;
  background-color: $color-backgroubd-team;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $brand-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
